body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.text, .text2 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    cursor: default;
    width: fit-content;
    transition: ease-in-out 0.3s;
    margin-inline: auto;
    padding: 3px;
    border-radius: 10px;
}

.text:hover, .text2:hover{
    transition: ease-in-out 0.3s;
    background-color: rgb(34, 34, 34);
    transform: translateY(-3px);
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    background-color: rgba(53, 36, 0, 0.253);
    padding: 20px;
    font-family: sans-serif;
    font-size: 30px;
    top: 300px;
    left: 600px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}

a:hover {
    background-color: rgba(60, 43, 7, 0.493);
    transform: translateY(-5px);
}